/* VFH style sheet Studienmodul Controlling I - Vertiefungsfenster*/


.win {
	margin:				0px;
	font-family:		Arial,Verdana, sans-serif;
	color:				red;
	background-color: 	#FFFFFF;
	width:				100%;
	position:			relative;
}

.nachOben {
	display:			none;
}
	
div.headline {
    position:			relative;
    top:				0px;
    font-size: 			12px; 
    font-style: 		normal; 
    font-weight:		bold; 
    color: 				#5A5A5A;
	width:				80%;
    text-decoration:	none;
    text-align: 		left;
}

div.header {
	position:			relative;
	width:				100%;
	height:				20px;
	clear:				both;
	
}
    
div.buttons {
	display:			none;
}


div.trenner_1 {
    display:			none;
 }
 
div.trenner_2 {
 	display:			none;
 } 

 div.content {
    margin: 			10px 10px 0 0; 
	position:			relative;
}

div.fusszeile{
	position:			relative;
}

div.balkenFusszeile1{
	display:			none;
}

div.balkenFusszeile2{
	display:			none;
}