.output{
    display: inline-block;

    margin: 50px;
    padding: 10px;

    border: 1px solid #e7e7e7;

    background-color: #f7f7f7;

    font: 20px arial, sans-serif;
    text-shadow: 0 0 3px #fff;
}

.label{
    margin: 0;

    font-style: italic;
}

.consoleContainer{
    margin-top: 5px;
    padding: 20px;
    border: 1px solid #e7e7e7;
    background-color: honeydew;
}

.consoleContainer.hasFailures{
    background-color: mistyrose;
}

.console{
    margin: 0;

    border: none;
    border-collapse: collapse;
    color: black;
}

.console th{
    font-size: 15px;
}

.console tr{
}

.consoleCell{
    padding: 10px;
    padding-top: 40px;
    border: none;
    border-bottom: 1px solid black;
    font-size: 13px;
}

.console tr :first-child{
    padding-right: 20px;
}

.console tr :last-child{
    padding-left: 20px;
}

.console .passed{
    color: green;
}

.console .failure{
    color: red;
}