#PCL {
		font-family: Verdana,Arial,Helvetica;
		font-style: none;
		font-weight: normal;
		text-decoration: none;
		font-size: 8pt;
}

#PTT {
		font-family: Verdana,Arial,Helvetica;
		font-size: 8pt;
		line-height: 11pt;
}

#PST {
		font-family: Verdana,Arial,Helvetica;
		font-size: 8pt;
		line-height: 11pt;
}

#OVERLIB {
		font-family: Verdana,Arial,Helvetica;
		font-style: none;
		font-weight: normal;
		text-decoration: none;
		font-size: 10pt;
}
